.card {
  width: auto;
  min-height: 300px;
  color: #053357;
  padding: 20px;
  background-color: #fbf8f1;
  border: 2px solid #cfcfcf;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
  margin: 20px;
}

.card .bold {
  font-weight: bold;
}

.card:hover {
  border: 2px solid #18a4e1;
}

.nota-card img {
  width: 100px;
}
.nota-card h3 {
  font-size: 18px;
}

@media (max-width: 992px) {
  .card {
    width: auto;
  }
}
