@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  background: linear-gradient(180deg, #f1f6f9 0%, #ebf3f8 100%);
  color: white;
  font-family: "Space Grotesk", sans-serif;
}
.cuerpo {
  padding: 20px 20px 0 20px;
  height: 95vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 90vw;
}

.cuerpo h2 {
  margin: 20px 0 20px 0;
  color: black;
}
.cuerpo .flex-lado {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cuerpo .flex-lado .left-side {
  width: 50%;
  overflow: auto;
}
.cuerpo .flex-lado .left-side h2 {
  margin: 20px;
}
.cuerpo .flex-lado .left-side::-webkit-scrollbar {
  display: none;
}

.cuerpo .flex-lado .right-side {
  width: 50%;
}
.cuerpo .flex-lado .right-side h2 {
  margin: 20px;
}

.cuerpo .flex-lado .down-side h2 {
  margin: 20px;
}

.dash {
  display: flex;
  flex-direction: row;
}
.notas-container {
  display: flex;
  overflow-x: scroll;
  height: auto;
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 20px;
}
.notas-container::-webkit-scrollbar {
  height: 15px;
}

.notas-container::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
.notas-container::-webkit-scrollbar-thumb {
  background: #888;
}
.notas-container::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 7, 77);
}
.notas-container .nota-card {
  color: #ffffff;
  padding: 20px;
  background-color: #14274e;
  border: 2px solid #cfcfcf;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
  cursor: pointer;
  margin: 20px;
  min-height: 200px;
  width: 354px;
  border-radius: 15px;
}
.down-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.search-wrapper {
  display: flex;
}
.search-wrapper .left-side {
  width: 50%;
}

@media (max-width: 992px) {
  .cuerpo {
    height: 86vh;
    width: auto;
    overflow: scroll;
  }

  .cuerpo .flex-lado {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
  .dash {
    display: flex;
    flex-direction: column;
  }
}
