@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  background: linear-gradient(180deg, #f1f6f9 0%, #ebf3f8 100%);
  color: white;
  font-family: "Space Grotesk", sans-serif;
}
.cuerpo {
  padding: 20px;
  height: 95vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 86vw;
}

.cuerpo h2 {
  margin: 20px 0 20px 0;
  color: black;
}
.cuerpo .flex-lado {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dash {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .cuerpo {
    height: 86vh;
    width: auto;
    overflow: scroll;
  }

  .cuerpo .flex-lado {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
  .dash {
    display: flex;
    flex-direction: column;
  }
}
